/* --- CSS Reset --- */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
}
img, picture, video, canvas, svg {
    display: block;
    width: 100%;
}
input, button, textarea, select, h1, h2, h3 {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Variables */

:root {
    --clr-blue-500: hsl(209, 23%, 22%);
    --clr-blue-600: hsl(207, 26%, 17%);
    --clr-blue-800: hsl(200, 15%, 8%); 

    --clr-grey-100: hsl(0, 0%, 98%); /* Background */
    --clr-grey-500: hsl(0, 0%, 52%);

    --clr-white: hsl(0, 0%, 100%);

    --fs-homepage: 1.4rem;
    --fs-details: 1.6rem;

    --fw-light: 300;
    --fw-medium: 600;
    --fw-bold: 800;

    --ff-primary: 'Nunito Sans', sans-serif;

    --border-radius: .5rem;   
}

/* General Styling */

body {
    background-color: var(--clr-grey-100);
    font-family: var(--ff-primary);
    font-size: var(--fs-homepage);
    font-weight: var(--fw-light);
    color: var(--clr-blue-800);
}

/* Header */

header {
    height: 9rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

/* Main */

main {
    margin-bottom: 5rem;
}
.section-search {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 50em){
    .section-search {
        display: block;
    }
    .input-container {
        margin-bottom: 2rem;
    }
    #search-bar {
        width: 100%;
    }
}
.input-container {
    position: relative;
}
input {
    width: 40rem;
    padding: 2rem 5rem;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.1);
    font-weight: var(--fw-medium);
    color: var(--clr-grey-500);
}
::placeholder {
    font-weight: var(--fw-medium);
}
.input-container i {
    position: absolute;
    left: 2rem;
    top: 2rem;
    color: var(--clr-grey-500);
    font-size: 1.6rem;
}
.filter-container {
    width: 20rem;
    font-weight: var(--fw-medium);
    color: var(--clr-grey-500);

    position: relative;
}
.filter-title {
    height: 6.2rem;
    padding: 2rem 2rem;
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-title i {
    padding: 1rem;
    cursor: pointer;
}
.filter-options {
    margin-top: .5rem;
    padding: 2rem 2rem 1rem 2rem;
    background-color: var(--clr-white);
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.1);

    position: absolute;
    top: 6.5rem;
    width: 20rem;
}
.filter-options p {
    cursor: pointer;
    margin-bottom: 1rem;
}
.filter-options p:hover {
    color: var(--clr-blue-500);
}
.countries {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Country Details Page*/

.country-details {
    height: 85vh;

    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
}
.country-details__img img {
    max-height: 35rem;
}
.country-details__content {
    padding: 0 3rem;
    align-self: center;
}
.country-details__data {
    display: flex;
    justify-content: space-between;
}
.country-details__data span,
.border-countries span {
    font-weight: var(--fw-medium);
}
.country-details__data p {
    margin-bottom: 1rem;
}
.country-title {
    font-size: 2.7rem;
    font-weight: var(--fw-bold);
    margin-bottom: 3rem;
}
.border-countries {
    margin-top: 3rem;
}
/* Country (Card) */

.country {
    background-color: var(--clr-white);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    width: calc((100% / 4) - 2rem);
    border-radius: var(--border-radius);
}
.country-img {
    height: 17rem;
    object-fit: cover;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.country-data {
    padding: 3rem 2rem;
}
.country-name {
    font-weight: var(--fw-bold) ;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.country-row {
    margin-top: 1rem;
}
.country span {
    font-weight: var(--fw-medium);
}

@media (max-width: 50em){
    .country {
        width: calc((100% / 3) - 2rem)
    }
}

@media (max-width: 30em){
    .country {
        width: calc(100%)
    }
}

/* Utilities */

.container {
    --max-width: 1440px;
    --padding: 5rem;

    width: min(var(--max-width), 100% - var(--padding));
    margin-inline: auto;
}
.primary-heading {
    font-size: 3rem;
    font-weight: var(--fw-bold);
    cursor: pointer;
}
.display-none {
    display: none;
}